<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
     <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
    <div class="container">
        <div class="message" th:if="${param.error}">
           Invalid Username or Password
        </div>
        <div class="message" th:if="${param.logout}">
           Logout Successfuly
        </div>
        
        <h2>Login Here!</h2>
        <form 
         th:action="@{/login}"
         method="post"
        > 
            <div class="form-group">
                <label for="username">Email_Id or Employment_Code:</label>
                <input  type="email" id="username" name="username" placeholder="Enter your email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input  type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <!-- <input type="submit" value="Login"> -->
            <button type="submit" name="log" value="login">Login</button>
        </form>
        
    </div>
</body>
</html>
